:root{
  --fontfamily:'inter';
  --fontweight: 500;
  --font-size: 28px;
  --bg: #292929;
  --bg-li: #3D3D3D;
  --width: 100%;
}

*{
  box-sizing: border-box;
}

body{
  background-color: var(--bg);
  width: var(--width);
  overflow-x: hidden;
  margin: 0;
}

.container{
  width: 398px;
  margin-left:  auto;
  margin-right: auto;
}

#weather .weather{
  background-color: var(--bg-li);
  border-radius: 16px;
  box-shadow: 0 0 5px #0000001F;
  position: relative;
  padding: 5px 16px;
  margin-top: 30px;
}

.hello{
  margin-bottom: 46px;
}

.title-hello{
  font-family: var(--fontfamily);
  font-weight:var(--fontweight);
  font-size: var(--font-size);
  line-height: 36px;
  color: #FFFFFF;
  margin-top: 10px;
}

.temperature{
  font-family: var(--fontfamily);
  font-size: var(--font-size);
  font-weight: var(--fontweight);
  line-height: 36px;
  color: #FFFFFF;
}

.content{
  font-family:var(--fontfamily);
  font-size: 12px;
  font-weight: var(--fontweight);
  line-height: 16px;
  color: #FFFFFF66;
  margin-top: -25px;
}

.logo{
  position: absolute;
  top: 10px;
  left: 230px;
}

.title-name{
  font-family: var(--fontfamily);
  font-weight: var(--fontweight);
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-top: 10px;
}

.Title-info{
  font-family: var(--fontfamily);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  padding-bottom: 10px;
  margin-top: 15px;
}


#date .date{
  background-color: var(--bg-li);
  border-radius: 16px;
  box-shadow: 0 0 5px #0000001F;
  margin-top: 16px;
  padding: 5px 16px;
}

.daily , .front{
  position: relative;
  padding-left: 15px;
}

.line1{
  position: absolute;
  width: 46px;
  border: 1px solid #FFC453;
  transform: rotate(-90deg);
  left: -5%;
  top: 40%;
}
.line2{
  position: absolute;
  width: 46px;
  border: 1px solid #29E489;
  transform: rotate(-90deg);
  left: -5%;
  top: 50%;
}

#email .email{
  background-color: var(--bg-li);
  border-radius: 16px;
  box-shadow: 0 0 5px #0000001F;
  margin-top: 16px;
  padding: 5px 16px;
}

.email ul{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: -10px;
}

.email li{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.img{
  width: 48px;
  height: 48px;
}

.title{
  max-width: 316px;
  font-family: var(--fontfamily);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #FFFFFF;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.subtitle{
  font-family: var(--fontfamily);
  font-size: 12px;
  font-weight: var(--fontweight);
  line-height: 16px;
  color: #FFFFFF66;
  margin: 0;
}

#feeling .feeling{
  background-color: var(--bg-li);
  border-radius: 16px;
  box-shadow: 0 0 5px #0000001F;
  margin-top: 16px;
  padding: 5px 16px;
}

.img-emoji{
  width: 32px;
  height: 32px;
  margin: 5px;
}

.emoji-title{
  font-family: var(--fontfamily);
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  color: #FFFFFF;
  margin:0 0 15px 0;
}

.feeling ul{
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0;
  margin: 10px 0;
}

.feeling li{
  width: calc(33.333% - (16px * 2 /3));
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* min-height: 100%; */
  background-color: #292929;
  border-radius: 8px;
  padding: 0px 16px;
  flex-direction: column;
}

#quote .quote{
  background-color: var(--bg-li);
  border-radius: 16px;
  box-shadow: 0 0 5px #0000001F;
  margin-top: 16px;
  padding: 5px 16px;
}

.quote-content{
  font-family: var(--fontfamily);
  font-size: 20px;
  font-weight:var(--fontweight);
  line-height: 32px;
  color: #FFFFFFCC;
  margin-bottom: -10px;
}

.quote-subtitle{
  font-family: var(--fontfamily);
  display: flex;
  font-size: 12px;
  font-weight: var(--fontweight);
  line-height: 16px;
  color: #FFFFFF66;
  justify-content: flex-end;
}

@media(max-width:1279px){
  #news{
    display: none;
  }
}

@media(min-width:1280px){
  body{
    width: var(--width);
    margin: 0;
  }
  .container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 93px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
  }

  #weather {
    grid-column: 1 / 6;
    grid-row: 1 / 4;
  }
  
  #date {
    grid-column: 1 / 6; 
    grid-row: 4/ 10 ;
  }
  
  #email {
    grid-column: 1 / 6; 
    grid-row: 10 / 14;
  }
  
  #quote {
    grid-column: 6/ 11; 
    grid-row: 10/ 14;
  }
  
  #feeling {
    grid-column: 11/ 15;
    grid-row: 10 / 14;
  }
  
  #news {
    position: relative;
    grid-column: 6 / 15; 
    grid-row: 1/ 10;
  }

  .container section {
    background-color: var(--bg-li);
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 0 5px #0000001f;
  } 

  #news ul{ 
    display: flex;
    list-style: none;
    gap: 10px;
    /* background-color: #FFC453; */
    padding-left: 0;
    padding: 0;
  }

  #news li{
    font-family:var(--fontfamily);
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    padding: 15px;
  }

  #news li:hover{
    background-color:#292929 ;
    cursor: grab;
  }

  .news-img{
    width:var(--width);
    max-width: 816px;
    object-fit: cover;
    height: 320px;
    align-items: center;
    justify-content: start;
  }

  .news-text{
    font-family:'Inter', sans-serif;
    max-width: 800px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    top: 300px;
    word-break: break-word;
    flex-wrap: wrap;
    padding: 10px;
    backdrop-filter: blur(24px);
  }

  #weather, #date, #quote, #email, #feeling, #news{
    padding: 0 16px;
    margin: 0;
  }

}